.wheel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pointer {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 24px solid #e5c07b;
  z-index: 1;
  margin-bottom: -2px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.4));
}

canvas {
  display: block;
}
